# Data Types and Structures Questions

### 1. What are data structures, and why are they important?
- A Data Structure is essentially a specific way of organizing, managing, and storing data in a computer so that it can be accessed and modified efficiently.

- they are important because
     - Efficiency
     - Organization & Management
     - Foundation for Algorithms
     - manipulation of data.

### 2.Explain the difference between mutable and immutable data types with examples.

- Mutable types can be changed after they are created (e.g., modifying an element in a list).
   - Example: List [1, 2, 3]
- Immutable types cannot be changed after creation; attempting to change them creates a new object in memory.
    - Example: String ("hello") or Tuple ((1, 2, 3)).

### 3.What are the main differences between lists and tuples in Python?
- Lists are mutable, meaning they can be modified (add, remove, change elements) and are typically used for heterogeneous collections of items.

- Tuples are immutable, meaning they cannot be modified after creation, and are typically used for fixed, ordered collections, often where the data represents a record.

### 4.Describe how dictionaries store data?
- Dictionaries store data as a collection of key-value pairs.
- Each key must be unique and immutable (like strings, numbers, or tuples), and it maps to a specific value (which can be any data type).

### 5.Why might you use a set instead of a list in Python?
- You would use a set when you need to ensure all elements are unique, as sets automatically discard duplicates.

- Sets also provide very fast membership testing (checking if an item is present) and are efficient for mathematical set operations like union and intersection.

### 6.What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters used to store text.
- The key difference is that a string is immutable, while a list is mutable.
- strings can only hold characters, whereas lists can hold any mix of data types (numbers, strings, other lists, etc.).

### 7.How do tuples ensure data integrity in Python?
- Tuples ensure data integrity because they are immutable.
- Once a tuple is created, its elements cannot be accidentally or intentionally modified, making them ideal for storing data that should remain constant (e.g., configuration settings or database credentials)

### 8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is an underlying data structure that implements an associative array (key-value storage).
- Python dictionaries are implemented using a sophisticated version of a hash table, which allows for extremely fast lookups by using a hash function to map keys directly to memory addresses.

### 9.Can lists contain different data types in Python?
- Yes, lists can contain different data types (they are heterogeneous)

### 10.Explain why strings are immutable in Python?
- Strings are immutable for performance reasons (like efficient caching) and because they are used as dictionary keys (which require immutability).

### 11.What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer O(1) average time complexity for searching, insertion, and deletion.
- Lists require iterating through indices, which is much slower, so dictionaries are preferred when fast lookups based on a unique identifier (key) are needed.

### 12.Describe a scenario where using a tuple would be preferable over a list?
- A scenario would be storing geographic coordinates ((latitude, longitude)) or RGB color values ((255, 0, 128)).
- Since coordinates or colors are fixed values that should not change during the program's execution.

### 13.How do sets handle duplicate values in Python?
- Sets automatically discard or ignore duplicate values during creation or when attempting to add a new element that already exists.

### 14.How does the "in" keyword work differently for lists and dictionaries?
- For lists, the in keyword checks for the presence of a value within the list, which involves checking every element (linear search).

- For dictionaries, the in keyword checks for the presence of a key, which is an extremely fast operation due to the underlying hash table.

### 15. Can you modify the elements of a tuple? Explain why or why not ?
- No, you cannot modify the elements of a tuple (add, remove, or replace elements) because tuples are an immutable data type in Python.

- Attempting to do so will result in a TypeError.

### 16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value associated with a key is itself another dictionary.
- Example :
    - Storing detailed student records, where the outer keys are Student IDs, and the inner dictionaries hold their data
    - {'S101': {'name': 'Alice', 'grade': 90}}).

### 17.Describe the time complexity of accessing elements in a dictionary?
- The time complexity for accessing an element in a dictionary (by its key) is typically O(1) (constant time.
- This means the time taken to find a key does not significantly increase, even as the dictionary size grows, thanks to hashing.

### 18.In what situations are lists preferred over dictionaries?
- Lists are preferred when the order of elements matters (as lists maintain insertion order) or when you need to store items that may contain duplicate values.

- They are also preferred when accessing elements based on their position (index) is the primary requirement.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Python versions (before 3.7), dictionaries were inherently unordered because they prioritized fast key lookups over positional consistency.
- While Python 3.7+ guarantees insertion order, they are still conceptually not retrieved by index like a list; retrieval is always based on the unique key.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists retrieve data based on its positional index (e.g., my_list[0]).
- Dictionaries retrieve data based on a unique, user-defined key (e.g., my_dict['name'])

# Practical Question

### 1. Write a code to create a string with your name and print it.

In [3]:
my_name = "Sanjay Kumar"
print(f"My name string: {my_name}")

My name string: Sanjay Kumar

### 2. Write a code to find the length of the string "Hello World".

In [4]:
s2 = "Hello World"
len(s2)

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
str = "Python Programming"
new =str[0:3]
new

'Pyt'

### 4. Write a code to convert the string "hello" to uppercase.

In [6]:
str = "hello"
str.upper()

'HELLO'

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [8]:
str = "I like apple"
new_str = str.replace("apple", "orange")
new_str

'I like orange'

###  6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
list1 = [1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
list1 = [1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
list1= ['a', 'b', 'c', 'd']
list1[1]

'b'

### 10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
list1= [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

### 11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [17]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [23]:
tup1 = ('red', 'green', 'blue', 'yellow')
tuple(list(tup1[-2:]))

('blue', 'yellow')

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [25]:
tup1 = (10, 20, 5, 15)
min(tup1)

5

### 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
tup1 = ('dog', 'cat', 'rabbit')
index = tup1.index('cat')
index

1

### 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [34]:
fruit = ("apple", "kiwi","orange")
if "kiwi" in fruit:
    print("yes")
else:
    print("NO")

yes

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [35]:
set1 = {'a','b','c'}
set1

{'a', 'b', 'c'}

### 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [40]:
set1= {1, 2, 3, 4, 5}
set1.clear()
set1

set()

### 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [42]:
set1 ={1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [46]:
A =  {1, 2, 3} 
B = {3, 4, 5}
print("Union Set is :",A|B)

Union Set is : {1, 2, 3, 4, 5}

### 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [47]:
A =  {1, 2, 3} 
B = {2,3, 4}
print("intersection of Set is :",A & B)

intersection of Set is : {2, 3}

### 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [49]:
dict = {"name":"Sanjay", "age":22, "city":"sarila"}
print(dict)

{'name': 'Sanjay', 'age': 22, 'city': 'sarila'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [50]:
dict1 = {'name': 'John', 'age': 25}
dict1["country"]="USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [53]:
dict1 = {'name': 'Alice', 'age': 30}
new = dict1["name"]
print(new)

Alice

### 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [55]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict1["age"]
dict1

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [58]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict1

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [60]:
list1 = ["red", "blue",2,100.2]
tup = ("red", "blue", "red", "green", "blue")
dict1 = {'name': 'Alice', 'city': 'Paris'}
print(list1)
print(tup)
print(dict1)

['red', 'blue', 2, 100.2]
('red', 'blue', 'red', 'green', 'blue')
{'name': 'Alice', 'city': 'Paris'}

###  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [122]:
import random
list1 = [random.randint(1,100) for i in range (5)]
print("random list:",list1)
list1.sort()
print

random list: [60, 18, 23, 100, 63]

In [123]:
list1.sort()

In [128]:
random_list = [random.randint(1, 100) for _ in range(5)]
print(f"Original random list: {random_list}")
random_list.sort()
print(f"Sorted list: {random_list}")

Original random list: [95, 25, 53, 25, 18]

### 28. Write a code to create a list with strings and print the element at the third index.

In [115]:
lis = ["Alpha", "Beta", "Gamma", "Delta", "Epsilon"]
print(lis[3])

Delta

### 29. Write a code to combine two dictionaries into one and print the result.

In [116]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}
new_dict  = dict1 | dict2
new_dict

{'a': 10, 'b': 30, 'c': 40}

### 30. Write a code to convert a list of strings into a set.

In [117]:
list1 = ["red", "blue", "red", "green", "blue"]
print(set(list1))

{'red', 'blue', 'green'}

---------------------END-----------------------